.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}

li.navbar {
    list-style-type: none;
    float: left;
}

a.navbar {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover.navbar {
    background-color: #00008B;
}
